/* Hover for calendar cells */
.rbc-month-view .rbc-day-bg:hover {
    background-color: #f3f3f3;
    cursor: pointer;
  }

/* Hover for events */
.rbc-event:hover {
  background-color: #265985 !important;
  cursor: pointer;
}

/* main content */
.main-content {
    margin-left: 200px;
    padding: 2rem;
  }

  